################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeatHook/v15
/src/NeatHook/bin/Debug
/src/NeatHook/obj/Debug
/src/NeatHook.Sandpit.WinForms/bin/Debug
/src/NeatHook.Sandpit.WinForms/obj/Debug
